<h2>Chat with {{ other_user.username }}</h2>

<a href="{% url 'user_list' %}">Back</a>

<div id="chat-box" style="border:1px solid black; height:300px; overflow-y:scroll; padding:10px;">
    <!-- {% for message in messages %}
        <p>
            <strong>{{ message.sender.username }}:</strong>
            {{ message.content }}
        </p>
    {% endfor %} -->
    {% for message in messages %}
        <p>
            <strong>{{ message.sender.username }}:</strong>
            {{ message.content }}

            {% if message.sender.id == request.user.id %}
                {% if message.is_read %}
                    ✓✓
                {% else %}
                    ✓
                {% endif %}
            {% endif %}
        </p>
    {% endfor %}
</div>

<input type="text" id="message-input" placeholder="Type message">
<button onclick="sendMessage()">Send</button>
<p>Current user ID: {{ request.user.id }}</p>
<p>Other user ID: {{ other_user.id }}</p>

<script>
    const userId = "{{ other_user.id }}";
    const socket = new WebSocket(
        "ws://" + window.location.host + "/ws/chat/" + userId + "/"
    );

    socket.onmessage = function(event) {
        const data = JSON.parse(event.data);
        const chatBox = document.getElementById("chat-box");

        const messageElement = document.createElement("p");
        messageElement.innerHTML = "<strong>" + data.sender + ":</strong> " + data.message;

        chatBox.appendChild(messageElement);
        chatBox.scrollTop = chatBox.scrollHeight;
    };

    function sendMessage() {
        const input = document.getElementById("message-input");
        const message = input.value;

        if (message.trim() === "") return;

        socket.send(JSON.stringify({
            "message": message
        }));

        input.value = "";
    }
</script>